<% include include/header %>
<div id="left-div" class="col-lg-12">
    <form action="/start" method="post" name="newaddress">
        <button type="submit" id="homeNextBtn" class="btn btn-primary" role="button">Start</button>
    </form>
</div>
<% include include/footer %>